.flex {
  display: flex;

  &[data-type="column"] {
    flex-direction: column;
  }
}

.font-primary {
  font-family: 'Montserrat', sans-serif;
}

.font-secondary {
  font-family: 'Fraunces', sans-serif;
}

.caption {
  font-size: 12px;
  line-height: 24px;
  color: var(--grayish-blue);
}

